:root {
  --bg: #f4f5f4;
  --acc: #0d110e;
  --s1: #ffffff;
  --s2: #f9faf9;
  --b1: rgba(0, 0, 0, 0.08);
  --font: "Instrument Sans", sans-serif;
  --mono: "IBM Plex Mono", monospace;
  --g: #16a34a;
  --r: #dc2626;
  --y: #ca8a04;
  --bl: #2563eb;
  --p: #9333ea;
  --o: #ea580c;
}

.plinth-btn-pos-action:active {
  transform: scale(0.96);
}
